.card_recipe--momentBadge{
    position: absolute;
    top: 5%;
    left: 85%;
    color: white;
    background-color: #F7A154;
    padding: 3px;
    border-radius: 5px;
}

.add-ingredient{
    margin: 20px auto;
    color: #F7A154;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
}

.container-ingredient{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    box-shadow: 5px 6px 20px 5px rgb(0 0 0 / 8%);
    padding: 1rem;
    margin-bottom: 40px;
}