.ListImages-button-modal {
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    width: 30%;
    min-width: 210px;
    max-width: 280px;
}

.ListImages-button-modal-image {
    width: 100%;
    height: 23vw;
    max-height: 210px;
    min-height: 160px;
    object-fit: cover !important;
}




.ListImages-button-modal-hover, .ListImages-modal-card-hover {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.3s;
}

.ListImages-button-modal-hover:hover, .ListImages-modal-card-hover:hover {
    opacity: 1;
}

.ListImages-button-modal-hover {
    font-size: clamp(12pt, 2.3vw, 18pt) !important;
}

.ListImages-modal-card-hover {
    font-size: clamp(9pt, 2vw, 13pt) !important;
}




.ListImages-modal-title {
    width: 100%;
    margin-bottom: 15px;
    font-size: 20pt;
    font-weight: 600;
    text-align: center;
}

.ListImages-modal-container-card {
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: 50vh;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ListImages-modal-card {
    width: 25%;
    max-width: 170px;
    min-width: 130px;
}

.ListImages-modal-card-image {
    width: 100%;
    height: 16vw;
    max-height: 120px;
    min-height: 100px;
    object-fit: cover !important;
}

.ListImages-modal-card-text {
    padding: 10px;
    line-height: 1 !important;
    text-align: center;
}

.ListImages-modal-container-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.ListImages-modal-button {
    width: 25%;
}