/**
 * @author Kevin Clément
 * @email kevin-clement@live.fr
 * @create date 2022-04-25 20:23:32
 * @modify date 2022-05-15 02:25:00
 * @desc [description]
 */
.webapp-header
{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    box-shadow: 5px 6px 20px 5px rgb(0 0 0 / 8%);
    padding: 0 20px;
}

.webapp-responsiveHeader{
    padding: 1rem;
}

.webapp-header_desktop{
    justify-content: space-between;
}

.webapp-header > .webapp-header_logo{
    cursor: pointer;
    padding-top: 10px;
    width: 4rem;
    height: 4rem;
}

.webapp-header > .webapp-header_backBtn
{
    cursor: pointer;
    margin-right: 1rem;
}


