.ChooseImage {
    margin-bottom: 20px;
}

.ChooseImage-button {
    overflow: hidden;
    margin: auto;
    width: 30%;
    min-width: 210px !important;
    max-width: 280px;
    height: 23vw;
    max-height: 210px;
    min-height: 160px;
    padding: 0 !important;
    border-radius: 4px !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ChooseImage-button-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.3s;
}

.ChooseImage-button-hover:hover {
    opacity: 1;
    cursor: pointer;
}

.ChooseImage-button-hover:active {
    transition: 0s;
    color: #F48625;
}