
.App {
  display: inline-block;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
}

.css-17vdz66 {
  justify-content: center;
}


/**TEST**/
.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.alert{
  margin: 0 auto;
  width: 50%;
}

.uniqueCard {
  margin: 5px;
}

.ingredient-lottie{
  z-index: 99999;
  position: absolute;
}

.onSort {
  margin-right: 3rem;
  cursor: pointer;
}

.MuiCardMedia-root {
  object-fit: contain !important;
}

.MuiCard-root {
  margin: 1rem;
}

.spanBtn{
  cursor: pointer;
  color: #F48625;
}

.webapp-layout_top--content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    margin-top: 6px;
    z-index: 999;
    box-shadow: 5px 6px 20px 5px rgb(0 0 0 / 8%);
    padding: 16px;
}

.webapp-layout_top--content > p {
  color: #F48625;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  width: fit-content;
}

.filter {
  width: 330px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
