.App {
  text-align: center;
}

.css-17vdz66{
  justify-content: center;
}

/**TEST**/
.card{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  margin-bottom: 50px;
}

.MuiCardMedia-root{
  object-fit: contain !important;
}

.MuiCard-root{
  margin: 1rem;
}