body{
  margin: 0;
}

.App {
  display: inline-block;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
}


.css-17vdz66{
  justify-content: center;
}

/**TEST**/
.card{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  margin-bottom: 50px;
}

.filter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.onSort{
  margin-right: 3rem;
  cursor: pointer;
}

.MuiCardMedia-root{
  object-fit: contain !important;
}

.MuiCard-root{
  margin: 1rem;
}