*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
}

nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 30px 0;
}

nav a {
  margin: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #303030;
}


.activeLink{
  color: #f7a154;
  text-decoration: underline;
}

/**TEST**/

a:link{
  color: black;
  text-decoration: none;
}