.footer-responsive
{
    position: fixed;
    bottom: 0;
    box-shadow: 5px 6px 20px 5px rgb(0 0 0 / 8%);
    width: 100%;
    padding: 1rem;
}

.footer-responsive > .footer-responsive__btn
{
    height: 3rem;
    width: 80%;
}

@media screen and (min-width:768px) {

    .footer-responsive{
        display: none;
    }
    .webapp-layout__desktop--btn{
        display: initial;
    }

}


@media screen and (max-width:767px) {

    .footer-responsive{
        display: inherit;
    }
    .webapp-layout__desktop--btn{
        display: none !important;
    }

}
